*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-opern-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: #f1eeeb;
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
     background-position: top left, bottom right;
   
}
nav{
    width: 71%;
    max-width: 1140px;
    /*border: 1px solid red;*/
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;


}
.btn{
    background-color: #FD6E0A ;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    

}
#banner{
    /*border: 1px solid red;*/
        display: flex;

    margin: 47px 38px 0 203px;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}
#banner . .banner-content{
    max-width: 590px;
}
#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner .banner-image img{
    max-width: 595px;
    vertical-align: middle;


}


#About .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    padding-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#About .about-container .about-info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 131px;

}
#About .about-container .about-info p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
#About .about-container .about-info h4{
    font-size: 20px;
    color:#474747 ;
    line-height: 30px;
    font-weight: bold;
}
#skill , #about, #resume 
{
    padding-top: 130px;
}
#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
    
 

}
.skill-box .skill-card{
    padding: 30px;
   /* border: 1px solid red;*/
   box-shadow: 0 6px 40px 0 #000000;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skill-card h3{
    color: #181818;
    font-size: 20px;
    margin-bottom: 20px;

}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

#resume .resume-container{
     width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 30px;
}
.section-title{
    color:#474747;
    font-weight: bold;
    font-size: 30px;
    line-height: auto;
    padding: 30px;
  
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.card-title{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;


}
.card-info{
    font-size: 15px;
    font-weight: semibold;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;

}
.card-text{
    font-size: 12px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;

}
